<div class="container">
  <div class="login-box">
    <div class="alert no-radus alert-primary" role="alert">
      Log In User
    </div>
    <div>
        <form [formGroup]="userForm">
            <div class="form-group">
                <label for="exampleInputEmail1">User Name</label>
                <input type="text" formControlName="name" class="form-control"  placeholder="Enter name">
            </div>
            
            <div class="btn-wrapper">
                <button type="submit" class="btn btn-primary" (click)="login()">Log In</button>
            </div>
        </form>
    </div>
  </div>
  
</div>
