* {
    color: #fff;
}

.wrap {
    padding: 5px 10px;
    
}

.title {
    text-align: center;
    font-size: 18px;
}

.pages {
    font-size: 16px;
}
img {
    display: block;
    max-width: 250px;
    height: auto;
    margin: 10px auto;
}
.date {
    font-size: 15px;
}