.header {
    position: sticky;
    top:0;
    display: block;
    right: 0;
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    z-index: 3;
    background-color: #eee;
    border-bottom: 1px solid gray;
}

.operator {
    padding: 0 8px;
}
footer {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    align-items: center;
    z-index: 30;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fff;
}
.search-bar {
    height: 30px;
    position: sticky;
    background-color: #fff;
    z-index: 2;
    top:30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    z-index: 15;
    input {
        border: 0;
        display: block;
        width: 250px;
        padding-left: 5px;
    }
}

.wrap {
    padding: 19px 15px 5px 15px;
    background: #eaeaea;
}
