.header {
    position: sticky;
    top:0;
    display: block;
    right: 0;
    width: 100vw;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    z-index: 3;
    background-color: #eee;
    border-bottom: 1px solid gray;
}

.search-bar {
    height: 30px;
    position: sticky;
    z-index: 2;
    top:30px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
    input {
        border: 0;
        display: block;
        width: 250px;
        padding-left: 5px;
    }
}